<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>
<link
  rel="stylesheet"
  href="https://kit.fontawesome.com/8214706f38.css"
  crossorigin="anonymous"
/>

<a
  href="/vendor/itemadd"
  class="btn-floating btn-large waves-effect waves-light red"
>ADD</a>