<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>
<link
  rel="stylesheet"
  href="https://kit.fontawesome.com/8214706f38.css"
  crossorigin="anonymous"
/>

<form action="/users/book/{{_id}}" method="POST" id="book-item">
  <input type="number" name="quantity" value="quantity" />
  <button type="submit" class="prefix waves-effect waves-light btn white green-text" name="btn" value="BOOK">ADD TO CART</button>

</form>