<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>

<form action="/users/refillcredit/{{_id}}" method="POST">
  <input type="hidden" name="method" value="PAY" />
  <button type="submit" class="btn green">REFILL</button>
</form>