<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<form>
                 <input type="hidden" name="method" value="BOOK">
                 <button type="submit" class="btn red">-</button>
</form>



<script type="text/javascript">


</script>