
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
</head>
<body>
    <div class ="navbar-fixed">
  <nav>
    <div class="nav-wrapper purple darken-3">
      <a href="http://localhost:4000/users/dashboard" ><img href="http://localhost:4000/users/dashboard"class="responsive-img" style="  width: 15vh;
    padding-top: 1.5vh;"src="../../public/images/logo.png"></a>
      <ul class="right">
        <li><a href="/users/cart"><i class="material-icons">shopping_cart</i></a></li>
        <li><a href="/users/profile"><i class="material-icons">account_circle</i></a></li>
      </ul>
      </div>
  </nav>
</body>
