<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>

<form action="/users/paynow" method="POST">
  <input type="hidden" name="method" value="PAY" />
  <button type="submit" class="btn white purple-text text-darken-5" style="border: solid 1px #4a148c ; border-radius: 5px; font-weight:bold;" >PAY NOW</button>
</form>