<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>

<form>
  <input type="hidden" name="method" value="BOOK" />
  <button type="submit" class="btn green">+</button>
</form>