<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>

<div class="center row">
  <div class="col s12">
    <div class="row" id="topbarsearch">
      <div class="input-field col s12 purple-text">
        <input
          type="text"
          placeholder="search over 200+ items "
          id="autocomplete-input"
          class="autocomplete"
        />
      </div>
    </div>
  </div>
</div>