 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

 
 <body>
    <div class ="navbar-fixed">
 <nav>
    <div class="nav-wrapper purple darken-3">
      <a href="http://localhost:4000/vendor/dashboard" class="brand-logo center">
        <img href="http://localhost:4000/vendor/dashboard"   class="responsive-img" src="../public/images/logo.png" style="  width: 160px;
    padding-top: 10px"/>
      </a>
    </div>
  </nav>
 </div>
 </body>
 