   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 
 <form class="purple-text  text-darken-3" method="POST" action="/vendor/venLog">
      
      <i class="material-icons small">account_circle
</i>
    
      <input type="text" name="username" id="" placeholder="USERNAME.." style=" border-bottom: 1px solid #4a148c " /><br />
    
       <i class="material-icons small">lock_outline</i>
      <input type="password" name="password" id="" placeholder="PASSWORD.." style=" border-bottom: 1px solid #4a148c"/><br /> <div class="row"></div>
      <input type="submit"  class="waves-effect waves-light  btn-flat white purple-text text-darken-4" style="border-radius: 10px; border:solid 1px #4a148c; font-weight:bold">
 </form>