<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <title>CantCred</title>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper purple darken-3">
          <a href="#" class="brand-logo center">
            <img
              href="#"
              class="responsive-img"
              src="../public/images/logo.png"
              style="  width: 160px;
    padding-top: 10px"
            />
          </a>
        </div>
      </nav>
    </div>

    <div class="container">

      <div class="row hide-on-small-only"></div>
      <div class="row hide-on-small-only"></div>
      <div class="row hide-on-small-only"></div>
      <div class="row hide-on-small-only"></div>
      <div class="row hide-on-small-only"></div>
      <div class="row hide-on-small-only"></div>
      <div class="row hide-on-small-only"></div>
      <div class="row hide-on-small-only"></div>

      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row">
        <div class="row">
          <div class="row"></div>
        </div>
      </div>

      <div class="row">
        <div class="col l4 offset-l4 offset-s1 s10">
          <div
            class="card hoverable"
            style=" border: 1px;
    border-color:blueviolet;
    border-style: solid;
    border-radius: 10px;
    font-weight: bold;"
          >
            <div class="card-content" style="text-align: center;">
              <a
                href="/vendor"
                class="waves-effect waves-light btn-flat white purple-text"
                style="width:100% ;"
              >
                <span class="material-symbols-outlined">
                  vendor
                </span>
              </a>
            </div>
          </div>

          <div
            class="card hoverable"
            style="  border: 1px;
    border-color:blueviolet;
    border-style: solid;
    border-radius: 10px;
    font-weight: bold;"
          >
            <div class="card-content" style="text-align: center; ">
              <a
                href="/users"
                class="waves-effect waves-light btn-flat white purple-text"
                style="width:100% ;"
              >
                <span class="material-symbols-outlined">
                  user
                </span>
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </body>

</html>