<div id="add">
    <form method="POST" action="/vendor/itemadd">
            <label for="">Item Name</label>
            <input type="text" name="itemname" id="" required><br>
            <label for="">Item Price</label>
            <input type="number" name="itemprice" id="" required><br>
            <input type="submit" value="Add Item">
        </form>
</div>