<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I do not exist</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body class="purple accent-1">
 <div class="row">
   <div class="col offset-xl2 offset-l2" style="padding:10% 0 0 0 ">

   <img class="responsive-img" src="../public/images/nopage.jpg">
   </div>
   <div class="col white-text" style="padding:15% 0 0 5% ; font-size:300%; font-family:helvetica;"> 
    PLEASE GO BACK OR I CRI
   </div>
    </div>
    
</body>
</html>
