<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
user dashboard <br>
{{msg}}
<br>
<a href="/users/menu">View menu</a>
<br>
<a href = "/users/logout"> Log Out</a>
<br>
<a href = "/users/orders"> View your orders</a>
<br>
your credit is {{credit}}
