<html>
    <body>
        <h1>User Login Page</h1>
        <form method="POST" action="/usLog">
            <label for="">Username</label>
            <input type="text" name="username" id="" required><br>
            <label for="">Password</label>
            <input type="text" name="password" id="" required><br>
            <input type="submit">
        </form>
    </body>
</html>
