<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Menu</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../public/css/usMen.css">
</head>
<body>
{{>navbar}}

</div>
  <div class="main">
<h1>Menu</h1> 
   <div class="row">
    {{#each items}}
    <div class="col s12 m6 l3">
      <div class="card hoverable">
        <div class="card-image">
          {{>imageselector this}}
         
        </div>
         
        <div class="card-content">
           <span class="card-title ">{{itemName}}</span>
          <p>Rs {{itemPrice}}</p>
          <p>{{>addtocart}}</p>
        </div>
      </div>
      
    </div>
    {{/each}}
  </div>
</div>
</body>
</html>


