<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Onboarding</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    <html>
      <body>
        <h1>User Onboarding</h1>
        <h6>Before we proceed further , we need to verify you , this is a one
          time process</h6>
        <form method="POST" action="/users/number">
          <label for="">Please enter your phone number</label>
          <input type="text" name="number" id="" required /><br />
          <input type="submit" />
        </form>
      </body>
    </html>

  </body>
</html>