<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <form method="POST" action="/users/usReg">
            <label for="">Your Name</label>
            <input type="text" name="name" id="" required><br>
            <label for="">Your Email Address</label>
            <input type="email" name="email" id="" required><br>
            <label for="">Primary Mobile Number</label>
            <input type="number" name="mob" id="" min="0000000000" max="9999999999" required><br>
            <label for="">Enrollment Number</label>
            <input type="text" name="enr" id="" required><br>
            <label for="">Password</label>
            <input type="text" name="password" id="" required><br>
            <input type="submit">
        </form>
    </body>
</html>

