<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>

Vendor ka dashboard
<br />
{{msg}}
<br />
<a href="/vendor/menu">View Menu</a>
<br />
<a href="/vendor/logout">logout</a>
<br />
<a href="/vendor/currentorders">View your current orders</a><br />
<a href="/vendor/pastorders">View your past orders</a><br />
<a href="/vendor/credit">view pending credit transactions</a>
<form action="/vendor/acceptpayments" method="post">
  <button type="submit">accept payments</button>
</form>
<br />
<a href="https://dashboard.stripe.com/" target="_blank">Stripe account
</a>