<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


Vendor ka dashboard <br>
{{msg}}
<br>
<a href = "/vendor/menu">View Menu</a> <br>
<a href ="/vendor/logout">logout</a> <br>
<a href="/vendor/currentorders">View your current orders</a><br>
<a href="/vendor/pastorders">View your past orders</a>