<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<html>
    <body>
        <form method="POST" action="/vendor/venLog">
            <label for="">Username</label>
            <input type="text" name="username" id=""><br>
            <label for="">Password</label>
            <input type="password" name="password" id=""><br>
            <input type="submit">
        </form>
    </body>
</html>
