<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vendor</title>
</head>
<body>
  {{>vendorNavbar}}
  
     <div class="container">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
         <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
     
        <div class="row">
        <div class="col xl4 offset-xl4 l4 m8 offset-m2 offset-l4  s12 purple lighten-5" style="border-radius:20px">
          <div class="row purple-text text-darken-4"></div>
          <span  class="purple-text text-darken-4"> before we can move forward , we need you to create a stripe account, please click on the button </span>
         <br><br>
           <form action="/vendor/acceptpayments" method="post">
  <button type="submit" class="btn white purple-text text-darken-4 btn-small" style="font-size: 80%; font-weight:bold; border:solid 1px #4a148c ">accept payments</button> <br><br>
  <a href="/vendor/logout" style="color:#4a148c; font-weight:bold; text-decoration:underline">LOGOUT</a> 
<br />
</form>
           <div class="row"></div>
          <div class="row"></div>
        </div>
        </div>
        
      </div>

</body>
</html>
