#page{
    background-image: url(../images/landing\ page.png);
}

*{
    font-family:  Helvetica;
}

#ven{
    position: fixed;
    left : 35%;
    top : 40%;
    height: 7%;
    width : 30%;
}

#user{
    position: fixed;
    left: 35%;
    top: 48%;
    height :7%;
    width : 30%;
}

#ven-name{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#user-name{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#header{
    display: block;
    font-size: 600%;
    color: rgb(153, 153, 153);
    text-align: center;
    
}

#tagline{
    color:rgb(255, 255, 255);
    text-align:center;
}